<nav class="topbar">

</nav>
<div class="container">
<div class="row">

    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="https://media.istockphoto.com/photos/delicious-vegetarian-pizza-on-white-picture-id1192094401?s=612x612"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="https://media.istockphoto.com/photos/concept-promotional-flyer-and-poster-for-restaurants-or-pizzerias-picture-id943449226"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://media.istockphoto.com/photos/round-pizza-lies-on-a-white-table-pizza-cut-with-a-circular-knife-picture-id1223658474?s=612x612"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="https://image.shutterstock.com/image-photo/pizza-chicken-tomatoes-on-black-600w-1906184089.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://image.shutterstock.com/image-photo/slice-pizza-isolated-on-black-600w-69776152.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="https://image.shutterstock.com/image-photo/pizza-ham-olives-isolated-on-600w-547615816.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
</div>
</div>